/* Ajoutez ces styles à votre fichier CSS ou utilisez des modules CSS si vous préférez. */
.nav-button {
    text-decoration: none;
    margin: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
}

.nav-button:hover {
    background-color: #0056b3;
}

.card.flipped {
    transform: rotateY(180deg);
    background: url("https://i.pinimg.com/originals/c5/b1/f3/c5b1f35d29702f1d9cb49f5760029603.png ")no-repeat;
}